<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cinnamon stick</key>
	<integer>10</integer>
	<key>whole clove</key>
	<integer>100</integer>
	<key>cardamom pod</key>
	<integer>30</integer>
	<key>bay lea</key>
	<integer>30</integer>
</dict>
</plist>
